<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->

<div class="news-item clearfix article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<!-- header -->
	<div class="news-meta clearfix">
		<span class="news-date news-list-date">
			<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
				<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
			</time>
		</span>
		<f:if condition="{newsItem.categories}">
			<f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
		</f:if>
	</div>
	
	<f:if condition="{newsItem.mediaPreviews}">
		<!-- media preview element -->
		<f:then>
			<div class="news-image news-img-wrap">
				<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
					<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
						<f:if condition="{mediaElement.originalResource.type} == 2">
							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 4">
							<f:image src="fileadmin/templates/bigbyte2015/img/video_thumb.png" title="{mediaElement.caption}" alt="{mediaElement.caption}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 5">
							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						</f:if>
					</f:alias>
				</n:link>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{settings.displayDummyIfNoMedia}">
				<div class="news-image news-img-wrap">
					<span class="no-media-element">
						<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
							<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						</n:link>
					</span>
				</div>
			</f:if>
		</f:else>
	</f:if>

	<div class="news-content">
		<h3>
			<span itemprop="headline">{newsItem.title}</span>
			<n:link newsItem="{newsItem}" settings="{settings}" class="readmore" title="{newsItem.title}">
				<f:if condition="{newsItem.mediaPreviews.0.originalResource.type} == 4">
					<f:then>
						Watch video
					</f:then>
					<f:else>
						<f:translate key="more-link"/>
					</f:else>
				</f:if>
			</n:link>
		</h3>
	</div>
</div>
</html>