<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>bigbyte</title>
</head>
<body>
	<div class="teaser-section">
		<div class="row clearfix">
			<div class="col-6">
				<i class="icon-speech"></i>
				<h2>Knowledge base</h2>
				<h4>Collective knowledge fused together for instant reference</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptate id recusandae, dolorem voluptatem quidem ipsum minus ea in obcaecati nostrum porro quas dolorum temporibus? Nesciunt laborum nobis, vitae commodi.</p>
			</div>
			<div class="col-6">
				<img src="http://placehold.it/460x320" alt="Laptop folder">
			</div>
		</div>
	</div>
</body>
</html>