/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 100%;
	top: 60px;
	bottom: 0;
	z-index: 1000;
	overflow: auto;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
	right: -100%;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}