<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<!-- categories -->

<div class="news-category news-list-category">
		<f:for each="{categories}" as="category" iteration="catIterator">
			<f:if condition="{category.shortcut}">
				<f:then>
					<f:link.page pageUid="{category.shortcut}">
						<span itemprop="{category.title}">{category.title}<f:if condition="{catIterator.isLast}"><f:then></f:then><f:else>, </f:else></f:if></span>
					</f:link.page>
				</f:then>
				<f:else>
					<span itemprop="{category.title}">{category.title}<f:if condition="{catIterator.isLast}"><f:then></f:then><f:else>, </f:else></f:if></span>
				</f:else>
			</f:if>
		</f:for>
</div>

</html>

<f:comment>
<span class="news-category news-list-category">
		<f:for each="{categories}" as="category" iteration="catIterator">
			<f:if condition="{category.shortcut}">
				<f:then>
					<f:link.page pageUid="{category.shortcut}">
						{category.title}<f:if condition="{catIterator.isLast}"><f:then></f:then><f:else>, </f:else></f:if>
					</f:link.page>
				</f:then>
				<f:else>
					{category.title}<f:if condition="{catIterator.isLast}"><f:then></f:then><f:else>, </f:else></f:if>
				</f:else>
			</f:if>
		</f:for>
</span>
</f:comment>