<!doctype html>

<html class="no-js" lang="">

	<head>

		<meta charset="utf-8">

		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>bigbyte</title>

		<meta name="description" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1">



		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<!-- Place favicon.ico in the root directory -->

	</head>

	<body class="customer-area">



		<header class="header">

			<div class="container">

				<div class="row clearfix">

					<a class="logo col-1 col-sm-2" href="#"><img src="img/logo_icon.png" alt="bigbyte"></a>

					<div class="search col-4 col-sm-2">

						<a class="hidden-desktop" href="#"><i class="icon-search"></i></a>

						<form action="/index.php?id=39" method="post" id="customerarea_search">

							<input type="search" name="tx_news_pi1[search][subject]" placeholder="type to search" class="hidden-mobile" />

							<input type="hidden" name="tx_news_pi1[__referrer][@extension]" value="News" />

							<input type="hidden" name="tx_news_pi1[__referrer][@vendor]" value="GeorgRinger" />

							<input type="hidden" name="tx_news_pi1[__referrer][@controller]" value="News" />

							<input type="hidden" name="tx_news_pi1[__referrer][@action]" value="searchForm" />

							<input type="hidden" name="tx_news_pi1[__referrer][arguments]" value="YTowOnt96888af1c617182b7e3b49f1c476c54180d42ffcf" />

							<input type="hidden" name="tx_news_pi1[__trustedProperties]" value="a:1:{s:6:&quot;search&quot;;a:1:{s:7:&quot;subject&quot;;i:1;}}e4ea3db585962b5b25544b672b4a74c181933163" />

							<button name="customerarea_search[submit_button]" class="btn btn-submit hidden-mobile" type="submit"><i class="icon-search"></i></button>

						</form>

					</div>

					<div class="ticket col-3 col-sm-2">

						<a class="hidden-desktop" href="#"><i class="icon-write"></i></a>

						<button class="btn btn-submit btn-block hidden-mobile" type="submit"><i class="icon-write"></i>&nbsp;&nbsp;Write a ticket</button>

					</div>

					<div class="consultant col-3 col-sm-2">

						<div class="avatar">

							<a class="hidden-desktop" href="#"><i class="icon-avatar"></i></a>

							<img src="img/consultant.jpg" alt="Consultant" class="hidden-mobile">

						</div>

						<p class="hidden-mobile">

							<span class="consultant-label">Your personal consultant:</span><br>

							Mr. John Doe<br>

							contact

						</p>

					</div>

					<a class="settings col-1 col-sm-2" href="#"><i class="icon-gear"></i></a>

					<a class="sidemenu hidden-desktop col-sm-2" href="#"><i class="icon-menu"></i></a>

				</div>

			</div>

		</header>



		<div class="content container">

			<div class="row clearfix">

				<div class="col-8 customer-area-indent"></div>

				<div class="col-4 cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">

					<a class="customer-logo" href="#"><img src="img/abb.png" alt="ABB"></a>

					<div class="tabs" id="sidebarTabs">

						<ul class="tab-menu">

							<li><a href="#sidebarNavigation">Navigation</a></li>

							<li><a href="#sidebarCalendar">Calendar</a></li>

						</ul>

						<div class="tab-content clearfix">

							<div id="sidebarNavigation">

								<nav class="sidebarnavigation">

									<ul class="clearfix"></ul>

								</nav>

							</div>

							<div id="sidebarCalendar"></div>

						</div>

					</div>

				</div>

			</div>

		</div>



		<footer class="footer">

			<div class="container">

				<div class="sociallinks">

					<a href="https://www.linkedin.com/pub/uwe-goehring/a/20a/176" title="bigbyte on LinkedIn"><img src="img/linkedin.png" alt="bigbyte on LinkedIn"></a>

					<a href="https://twitter.com/uwegoe" title="bigbyte on Twitter"><img src="img/twitter.png" alt="bigbyte on Twitter"></a>

					<a href="http://scn.sap.com/people/uwe.goehring" title="bigbyte on SAP community network"><img src="img/scn.png" alt="bigbyte on SAP community network"></a>

				</div>

				<div class="row clearfix">

					<div class="col-2">

						<nav class="footernavigation">

							<ul></ul>

						</nav>

					</div>

					<div class="col-2 col-sm-6">

						<h4>Mailing Address:</h4>

						<address>

							<p><b>USA</b></p>

							<p>bigbyte software systems inc.<br>

								99 Reade Street, PHE<br>

								New York,<br>

								NY 10013</p>

						</address>

					</div>

					<div class="col-2 col-sm-6">

						<h4>&nbsp;</h4>

						<address>

							<p>&nbsp;</p>

							<p>bigbyte software systems inc.<br>

								2214 NW 171st Terrace<br>

								Pembroke Pines,<br>

								FL 33028</p>

						</address>

					</div>

					<div class="col-2 col-sm-6">

						<h4>&nbsp;</h4>

						<address>

							<p><b>DE</b></p>

							<p>bigbyte gmbh<br>
								Hauptstraße 7<br>
								77716 Haslach</p>

						</address>

					</div>

					<div class="col-2 col-sm-6">

						<h4>&nbsp;</h4>

						<address>

							<p><b>CH</b></p>

							<p>justRED AG | bigbyte software systems<br>

								Löwengraben 15<br>

								6004 Luzern</p>

						</address>

					</div>

					<div class="col-2 col-sm-6 phone">

						<h4>Phone Number:</h4>

						<p>US <a href="tel:+18775842454">+1 877 584 2454</a><br>
						DE <a href="tel:+4978329744044">+ 49 7832 9744 044</a></p>

					</div>

				</div>

				<div class="credits">

					<p>&copy; 2015. bigbyte software systems and the bigbyte logo are trademarks of bigbyte software systems inc.</p>

				</div>

			</div>

		</footer>

	</body>

</html>

